
/* Site Main Path Settings */
$cache-busting:           #{'?v='}(unique_id());
$path-assets-url:         "../../../assets" !default;
$path-fonts-url:          "#{$path-assets-url}/fonts" !default;
$path-img-url:            "#{$path-assets-url}/img" !default;
$path-img-url-icons:      "#{$path-img-url}/icons" !default;
/* Site Main Path Settings */

/* Site General Color Settings */
$site-clr-white:                #FFFFFF;
$site-clr-black:                #000000;
$site-clr-blue:                 #357CE1;
$site-clr-blue-dark:            #004378;
$site-clr-cyan:                 #17A2B8;
$site-clr-green:                #70A800;
$site-clr-red:                  #B82C0D;
$site-clr-orange:               #E67948;
$site-clr-yellow:               #FF8C00;
/* Site General Color Settings */

/* Site Currency Color Settings */
$site-clr-curr-try:                     #D50032;
$site-clr-curr-usd:                     #4AA94E;
$site-clr-curr-eur:                     #004777;
$site-clr-curr-btc:                     #F7931A;
$site-clr-curr-eth:                     #637FEA;
$site-clr-curr-ltc:                     #A5A8A9;
$site-clr-curr-xrp:                     #23292F;
$site-clr-curr-mpay:                    #E8094A;
$site-clr-curr-bat:                     #F74E00;
$site-clr-curr-xlm:                     #232323;
$site-clr-curr-tryb:                    #002EAC;
$site-clr-curr-usdt:                    #2DD976;
$site-clr-curr-link:                    #2A5ADA;
$site-clr-curr-avax:                    #E04040;
$site-clr-curr-algo:                    #757575;
$site-clr-curr-ftm:                     #1969FF;
$site-clr-curr-dot:                     #262626;
$site-clr-curr-hot:                     #B748FF;
$site-clr-curr-mkr:                     #1AAB9B;
$site-clr-curr-aave:                    #B6509E;
/* Site Currency Color Settings */

/* Site Main Settings */
$site-font-family-default:              'Barlow Semi Condensed', sans-serif;
$site-font-size-base:                   1.063rem;
/* Site Main Color Settings */

/* Site Dark Theme Settings */
$site-text-clr-soft-pri:                #004378;
$site-text-clr-soft-sec:                #77869B;
$site-brdr-dark:                        #e2e4e8;
$site-brdr-dark-focus:                  darken($site-brdr-dark, 10%);
$site-brdr-dark-opacity:                darken($site-brdr-dark, 15%);
$site-brdr-dark-input:                  $site-brdr-dark;
$site-brdr-dark-input-focus:            $site-brdr-dark-focus;
$site-result-dark-error-brdr:           transparentize($site-clr-red, 0.25);
$site-result-dark-error-bg:             $site-clr-white;
$site-result-dark-success-brdr:         transparentize($site-clr-green, 0.95);
$site-result-dark-success-bg:           $site-clr-white;
$site-result-dark-warning-brdr:         transparentize($site-clr-orange, 0.95);
$site-result-dark-warning-bg:           $site-clr-white;
/* Site Dark Theme Settings */

/* General Booststrap Site and Button Color Settings */
$global-clr-white:              $site-clr-white;
$global-clr-gray-100:           #F3F5F9;
$global-clr-gray-200:           #DEE2EB;
$global-clr-gray-300:           #E1E5ED;
$global-clr-gray-400:           #CFD7DF;
$global-clr-gray-500:           #adb5bd;
$global-clr-gray-600:           #758CA3;
$global-clr-gray-700:           #2A3553;
$global-clr-gray-800:           #1C2029;
$global-clr-gray-900:           #182239;
$global-clr-black:              $site-clr-black;
$global-clr-secondary:          $global-clr-gray-900;
$global-clr-blue:               #007bff;
$global-clr-indigo:             #6610f2;
$global-clr-purple:             #6f42c1;
$global-clr-pink:               #e83e8c;
$global-clr-red:                $site-clr-red;
$global-clr-orange:             $site-clr-orange;
$global-clr-yellow:             #ffc107;
$global-clr-green:              $site-clr-green;
$global-clr-teal:               #20c997;
$global-clr-cyan:               #17a2b8;
$global-btn-primary:            $global-clr-blue;
$global-btn-secondary:          $global-clr-secondary;
$global-btn-success:            $global-clr-green;
$global-btn-info:               $site-clr-cyan;
$global-btn-warning:            $global-clr-orange;
$global-btn-danger:             $global-clr-red;
$global-btn-light:              $global-clr-gray-300;
$global-btn-dark:               $global-clr-gray-700;
$global-link-color:             $site-text-clr-soft-pri;
$global-table-border-color:     $site-brdr-dark;
/* General Booststrap Site and Button Color Settings */