// Header and Footer Print
@media print{

  @page{
    margin: 5px !important;
    padding: 5px !important;
  }

  html,
  body,
  .container,
  .container-fluid{
    min-width: 1140px !important;
    margin: 5px !important;
    padding: 5px !important;
  }

  header,
  footer{
    display: none !important;
  }
}